aiohttp
aioprocessing
flashbots
nest-asyncio
numpy
pandas
tqdm
websockets
loguru
python-dotenv
eth-abi

# the below won't work
# remove from requirements.txt and manually install
# with the same version, or the code won't work


# run pip install --upgrade websockets after completion